@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  color: #fff;
}
h3 {
  text-align: center;
  color: #000;
  font-size: 14px;
}

ul.enlaces {
  display: none;
}

/* Header */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
  grid-area: header;
  background: #26527b;
}

/* Main */
main {
  grid-area: main;
  padding: 10px;
}

/* Aside */
aside {
  grid-area: aside;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  background-color: #26527b;
  padding: 10px 0px;
}

footer span {
  color: #fff;
}

/* Contenedor Grid */
.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header "
    "aside"
    "main"
    "footer";
  min-height: 100vh;
}
/* Contenedor Productos */
.products {
  display: block;
}

/* Card Productos */
.card {
  display: flex;
  flex-direction: column;
  flex: 0 1 calc(33.333% - 20px);
  background: #fff;
  box-sizing: border-box;
  margin: 10px;
}
/* Img Producto */
.card img {
  width: 100%;
  height: 240px;
  object-fit: contain;
}
/* Card Precio */
.price {
  text-align: center;
  color: #000;
  padding: 10px 0px;
}
/* Card Botón */
.btn {
  background: #26527b;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}
/* Selector Precio */
.custom-select {
  display: block;
  width: 100%;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.custom-select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.order {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #e2e2e2;
}

/* Material icons */

.material-icons {
  font-size: 36px; /* Tamaño del ícono */
  color: #fff; /* Color del ícono */
}

.social a {
  color: #fff;
}

ul.enlaces {
  display: none;
}

/* Paginacion */
.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.pagination li {
  margin: 0 2px;
}
.pagination li a {
  text-decoration: none;
  color: #007bff;
  display: block;
  padding: 8px 16px;
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid #c4c4c4;
}
.pagination li a:hover {
  background-color: #e9ecef;
  color: #007bff;
}
.pagination .active a {
  color: white;
  background-color: #007bff;
  pointer-events: none;
}
.pagination .disabled a {
  color: grey;
  pointer-events: none;
}

/* Media quieries */

@media only screen and (min-width: 576px) {
  .container {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header header "
      "aside main"
      "footer footer";
    min-height: 100vh;
  }

  aside {
    background-color: #e2e2e2;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(
      2,
      1fr
    ); /* crea dos columnas de igual tamaño */
    gap: 20px;
  }

  .card {
    width: calc(100% - 10px);
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    color: #fff;
  }

  span.material-icons {
    display: none;
  }

  ul.enlaces {
    display: flex;
    list-style: none;
  }

  ul.enlaces a {
    color: #fff;
    text-decoration: none;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 5fr; /* Asumiendo que quieres que el nav sea más estrecho que el main */
    grid-template-rows: auto 1fr auto; /* Tres filas para header/aside, main y footer */
    grid-template-areas:
      "nav aside"
      "nav main"
      "footer main";
    min-height: 100vh;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  nav {
    grid-area: nav;
  }

  aside {
    grid-area: aside;
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
  }

  ul.enlaces {
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: center;
  }

  .card {
    width: calc(100% - 10px);
  }
  .products {
    display: grid;
    grid-template-columns: repeat(
      4,
      1fr
    ); /* crea cuatro columnas de igual tamaño */
    gap: 20px; /* establece un espacio entre los productos */
  }
}
